progress,sub,sup {
  vertical-align: baseline
}
[type=checkbox],[type=radio],legend {
  box-sizing: border-box;
  padding: 0
}

button,hr,input {
  overflow: visible
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
html,body{
  height: 100%;
  width: 100%;
}

body.__modal_open{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
  display: block
}

audio,canvas,progress,video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}
[hidden],template {
  display: none
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none
}

/**
a {
  color: #20a0ff;
}
a:focus,a:hover {
  color: #4db3ff
}

a:active {
  color: #1d90e6
}
**/

a:active,a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,strong {
  font-weight: bolder
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

sub,sup {
  line-height: 0;
  position: relative
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle
}

optgroup {
  font-weight: 700
}

button,select {
  text-transform: none
}[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button
}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0
}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: ButtonText dotted 1px
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal
}

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top
}

input,select,textarea {
  outline: 0
}[disabled] {
  cursor: default
}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: inherit;
  opacity: .54
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: inherit;
  opacity: .54
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

input::-ms-clear,input::-ms-reveal {
  display: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,th {
  padding: 0
}

blockquote,figure,form,h1,h2,h3,h4,h5,h6,p {
  margin: 0
}

dd,dl,li,ol,ul {
  margin: 0;
  padding: 0
}

ol,ul {
  list-style: none
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1f2d3d  
  -webkit-tap-highlight-color:transparent;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: inherit
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,p:first-child {
  margin-top: 0
}

h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child,p:last-child {
  margin-bottom: 0
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 18px
}

h3 {
  font-size: 16px
}

h4,h5,h6,p {
  font-size: inherit
}

p {
  line-height: 1.8
}

sub,sup {
  font-size: 13px
}

small {
  font-size: 12px
}

hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

/*移动端 1PX 边框*/
.border-t,
.border-b,
.border-l,
.border-r,
.border-tb,
.border {
    position: relative;
}
.border-l:before,
.border-r:after {
  width: 1px;
  height: 100%;
  background-color: #eee;
  display: block;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: auto;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  pointer-events: none;
}
.border-t:before,
.border-b:after {
  width: 100%;
    height: 1px;
    background-color: #eee;
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: auto;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    pointer-events: none;
}
.border-l:before {
    right: auto;
    left: 0;
}
.border-r:after {
    right: 0;
    left: auto;
}
.border-t:before {
    bottom: auto;
    top: 0;
}
.border-b:after {
    bottom: 0;
    top: auto;
}
.border:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
    border: 1px solid #eee;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .border:after {
        right: -100%;
        bottom: -100%;
        -webkit-transform: scale(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .border-r:after,
    .border-l:before  {
      -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
    .border-t:before,
    .border-b:after  {
      -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-r:after,
    .border-l:before {
      -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
    }
    .border-t:before,
    .border-b:after  {
      -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-r:after,
    .border-l:before {
      -webkit-transform: scaleX(0.333);
                transform: scaleX(0.333);
    }
    .border-t:before,
    .border-b:after  {
      -webkit-transform: scaleY(0.333);
                transform: scaleY(0.333);
    }
}

@font-face 
  font-family pg-ico
  src url('http://at.alicdn.com/t/font_425006_tmthy4fwnc9885mi.woff') format('woff'),
      url('http://at.alicdn.com/t/font_425006_tmthy4fwnc9885mi.ttf') format('truetype')

[class*=" ico-"]
[class^="ico-"]
  font-family pg-ico !important
  speak none
  font-style normal
  font-weight 400
  font-variant normal
  text-transform none
  line-height 1
  vertical-align baseline
  display inline-block
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ico-activity:before 
  content "\e6de"
.ico-activity-fill:before 
  content "\e6df"
.ico-add:before 
  content "\e70c"
.ico-addition-fill:before 
  content "\e6e1"
.ico-addition:before 
  content "\e6e2"
.ico-addpeople-fill:before 
  content "\e6e3"
.ico-addpeople:before 
  content "\e6e4"
.ico-addressbook-fill:before 
  content "\e6e5"
.ico-addressbook:before 
  content "\e6e6"
.ico-barrage-fill:before 
  content "\e6e7"
.ico-barrage:before 
  content "\e6e8"
.ico-eye-fill:before 
  content "\e6e9"
.ico-eye:before 
  content "\e6ea"
.ico-brush:before 
  content "\e6eb"
.ico-brush-fill:before 
  content "\e6ec"
.ico-businesscard-fill:before 
  content "\e6ed"
.ico-businesscard:before 
  content "\e6ee"
.ico-camera-fill:before 
  content "\e70d"
.ico-camera:before 
  content "\e70e"
.ico-clock-fill:before 
  content "\e70f"
.ico-clock:before 
  content "\e710"
.ico-close:before 
  content "\e6ef"
.ico-star-fill:before 
  content "\e6f0"
.ico-star:before 
  content "\e6f1"
.ico-computer-fill:before 
  content "\e711"
.ico-computer:before 
  content "\e712"
.ico-coordinates-fill:before 
  content "\e713"
.ico-coordinates:before 
  content "\e714"
.ico-createtask-fill:before 
  content "\e715"
.ico-createtask:before 
  content "\e716"
.ico-delete-fill:before 
  content "\e717"
.ico-delete:before 
  content "\e718"
.ico-emoji-fill:before 
  content "\e719"
.ico-emoji:before 
  content "\e726"
.ico-empty:before 
  content "\e727"
.ico-empty-fill:before 
  content "\e728"
.ico-enter:before 
  content "\e729"
.ico-enterinto:before 
  content "\e72a"
.ico-enterinto-fill:before 
  content "\e72b"
.ico-feedback-fill:before 
  content "\e72c"
.ico-feedback:before 
  content "\e731"
.ico-flag-fill:before 
  content "\e732"
.ico-flag:before 
  content "\e733"
.ico-flash:before 
  content "\e6fc"
.ico-flash-fill:before 
  content "\e6fd"
.ico-group:before 
  content "\e734"
.ico-group-fill:before 
  content "\e735"
.ico-headlines-fill:before 
  content "\e736"
.ico-headlines:before 
  content "\e737"
.ico-homepage-fill:before 
  content "\e738"
.ico-homepage:before 
  content "\e739"
.ico-integral-fill:before 
  content "\e73a"
.ico-integral:before 
  content "\e73b"
.ico-interactive-fill:before 
  content "\e73c"
.ico-interactive:before 
  content "\e741"
.ico-label:before 
  content "\e742"
.ico-label-fill:before 
  content "\e743"
.ico-like-fill:before 
  content "\e707"
.ico-like:before 
  content "\e708"
.ico-live-fill:before 
  content "\e744"
.ico-live:before 
  content "\e745"
.ico-lock-fill:before 
  content "\e746"
.ico-lock:before 
  content "\e747"
.ico-mail:before 
  content "\e748"
.ico-mail-fill:before 
  content "\e749"
.ico-manage-fill:before 
  content "\e74a"
.ico-manage:before 
  content "\e74b"
.ico-message:before 
  content "\e74c"
.ico-message-fill:before 
  content "\e74d"
.ico-mine:before 
  content "\e74e"
.ico-mine-fill:before 
  content "\e74f"
.ico-mobilephone-fill:before 
  content "\e750"
.ico-mobilephone:before 
  content "\e751"
.ico-more:before 
  content "\e752"
.ico-offline-fill:before 
  content "\e753"
.ico-offline:before 
  content "\e754"
.ico-order-fill:before 
  content "\e755"
.ico-order:before 
  content "\e756"
.ico-other:before 
  content "\e757"
.ico-people-fill:before 
  content "\e758"
.ico-people:before 
  content "\e759"
.ico-picture-fill:before 
  content "\e75a"
.ico-picture:before 
  content "\e75b"
.ico-play:before 
  content "\e75c"
.ico-play-fill:before 
  content "\e75d"
.ico-playon-fill:before 
  content "\e75e"
.ico-playon:before 
  content "\e75f"
.ico-praise-fill:before 
  content "\e71a"
.ico-praise:before 
  content "\e71b"
.ico-prompt-fill:before 
  content "\e71c"
.ico-prompt:before 
  content "\e71d"
.ico-qrcode-fill:before 
  content "\e760"
.ico-qrcode:before 
  content "\e761"
.ico-redpacket-fill:before 
  content "\e762"
.ico-redpacket:before 
  content "\e763"
.ico-refresh:before 
  content "\e764"
.ico-remind-fill:before 
  content "\e71f"
.ico-remind:before 
  content "\e720"
.ico-return:before 
  content "\e765"
.ico-right:before 
  content "\e766"
.ico-scan:before 
  content "\e767"
.ico-select-fill:before 
  content "\e768"
.ico-select:before 
  content "\e769"
.ico-service-fill:before 
  content "\e76a"
.ico-service:before 
  content "\e76b"
.ico-setup-fill:before 
  content "\e76c"
.ico-setup:before 
  content "\e76d"
.ico-share-fill:before 
  content "\e76e"
.ico-share:before 
  content "\e76f"
.ico-stealth-fill:before 
  content "\e770"
.ico-stealth:before 
  content "\e771"
.ico-success-fill:before 
  content "\e72d"
.ico-success:before 
  content "\e72e"
.ico-switch:before 
  content "\e772"
.ico-systemprompt-fill:before 
  content "\e773"
.ico-systemprompt:before 
  content "\e774"
.ico-task:before 
  content "\e775"
.ico-task-fill:before 
  content "\e776"
.ico-tasklist-fill:before 
  content "\e777"
.ico-tasklist:before 
  content "\e778"
.ico-time-fill:before 
  content "\e779"
.ico-time:before 
  content "\e77a"
.ico-translation-fill:before 
  content "\e77b"
.ico-translation:before 
  content "\e77c"
.ico-unlock-fill:before 
  content "\e77d"
.ico-unlock:before 
  content "\e77e"
.ico-video:before 
  content "\e77f"
.ico-video-fill:before 
  content "\e780"
.ico-warning-fill:before 
  content "\e73d"
.ico-warning:before 
  content "\e73e"
.ico-workbench-fill:before 
  content "\e781"
.ico-workbench:before 
  content "\e782"
.ico-search:before 
  content "\e783"
.ico-search-fill:before 
  content "\e784"
.ico-goods-fill:before 
  content "\e785"
.ico-transaction-fill:before 
  content "\e786"
.ico-packup:before 
  content "\e787"
.ico-unfold:before 
  content "\e788"
.ico-financial-fill:before 
  content "\e789"
.ico-marketing-fill:before 
  content "\e78a"
.ico-shake:before 
  content "\e78b"
.ico-decoration-fill:before
  content "\e78c"
.ico-loading:before
  content "\e616"
.ico-empty:before
  content "\e875"

@keyframes spin
	0%
		transform rotate(0deg)
	to
		transform rotate(359deg)